USE [master]
GO
/****** Object:  Database [MyQQ2]    Script Date: 01/22/2018 09:35:21 ******/
CREATE DATABASE [MyQQ2] ON  PRIMARY 
( NAME = N'MyQQ2', FILENAME = N'C:\MyQQ2.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyQQ2_log', FILENAME = N'C:\MyQQ2_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyQQ2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyQQ2]
GO
/****** Object:  Table [dbo].[qq_User]    Script Date: 01/22/2018 09:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qq_User](
	[userId] [int] IDENTITY(10000,1) NOT NULL,
	[userPwd] [varchar](100) NOT NULL,
	[nickName] [nvarchar](20) NULL,
	[realName] [varchar](100) NULL,
	[personalMsg] [varchar](500) NULL,
	[age] [int] NULL,
	[sex] [varchar](20) NULL,
	[email] [varchar](30) NULL,
	[face] [int] NULL,
	[regTime] [datetime] NULL,
	[userType] [int] NULL,
	[studentID] [varchar](50) NULL,
	[appid] [varchar](50) NULL,
 CONSTRAINT [PK__qq_User__7C8480AE] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[qq_User] ON
INSERT [dbo].[qq_User] ([userId], [userPwd], [nickName], [realName], [personalMsg], [age], [sex], [email], [face], [regTime], [userType], [studentID], [appid]) VALUES (10000, N'123456', N'444', N'll', N'个性签名', 28, N'女', N'test@test.com', 1, CAST(0x00009FC600F754E2 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[qq_User] ([userId], [userPwd], [nickName], [realName], [personalMsg], [age], [sex], [email], [face], [regTime], [userType], [studentID], [appid]) VALUES (10001, N'123456', N'昵称', N'姓名', N'个性签名', 18, N'女', N'test@test.com', 1, CAST(0x00009FC7008FBD1B AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[qq_User] ([userId], [userPwd], [nickName], [realName], [personalMsg], [age], [sex], [email], [face], [regTime], [userType], [studentID], [appid]) VALUES (10002, N'123456', N'昵称22', N'姓名', N'个性签名', 18, N'女', N'test@test.com', 5, CAST(0x00009FC70090190D AS DateTime), NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[qq_User] OFF
/****** Object:  Table [dbo].[qq_Messages]    Script Date: 01/22/2018 09:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qq_Messages](
	[mid] [int] IDENTITY(1,1) NOT NULL,
	[fromId] [int] NULL,
	[toId] [int] NULL,
	[mInfo] [text] NOT NULL,
	[state] [char](1) NOT NULL,
	[sendTime] [datetime] NULL,
 CONSTRAINT [PK_qq_Messages] PRIMARY KEY CLUSTERED 
(
	[mid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[qq_Messages] ON
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (1, 10000, 10001, N'1232321321', N'1', CAST(0x00009FCF00ED0EF3 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (2, 10000, 10001, N'1232321321', N'1', CAST(0x00009FCF00ED413D AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (3, 10000, 10001, N'3432432', N'1', CAST(0x00009FCF00ED9BA2 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (47, 10008, 10009, N'SB
SB
SB

SB', N'1', CAST(0x0000A05F009A9D7D AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (48, 10008, 10009, N'SB

SB
SB', N'1', CAST(0x0000A05F009A9E13 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (49, 10008, 10009, N'
SB
SB', N'1', CAST(0x0000A05F009A9E88 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (51, 10008, 10009, N'SB

SB
SB', N'1', CAST(0x0000A05F009A9F81 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (53, 10008, 10009, N'
SB
SB
SB', N'1', CAST(0x0000A05F009AA074 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (55, 10008, 10009, N'
SB
SB
SB
SB
SB
SB
SB', N'1', CAST(0x0000A05F009AA261 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (60, 10008, 10009, N'SB

SB
SB', N'1', CAST(0x0000A05F009AA3E1 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (62, 10008, 10009, N'SB
SB

SB
SB
SB', N'1', CAST(0x0000A05F009AA56F AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (65, 10008, 10009, N'SB
SB', N'1', CAST(0x0000A05F009AA65A AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (67, 10008, 10009, N'SB
', N'1', CAST(0x0000A05F009AA6CA AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (69, 10008, 10009, N'
SB', N'1', CAST(0x0000A05F009AA749 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (71, 10008, 10009, N'SB
v', N'1', CAST(0x0000A05F009AA7E8 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (72, 10008, 10009, N'
SB
SB', N'1', CAST(0x0000A05F009AA870 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (73, 10008, 10009, N'SB

', N'1', CAST(0x0000A05F009AA91E AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (75, 10008, 10009, N'
SB
SB', N'1', CAST(0x0000A05F009AA9FA AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (77, 10008, 10009, N'SB

SB
SB', N'1', CAST(0x0000A05F009AAB05 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (79, 10008, 10009, N'SB
', N'1', CAST(0x0000A05F009AABA4 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (82, 10008, 10009, N'SB

SB', N'1', CAST(0x0000A05F009AAC85 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (87, 10008, 10009, N'SB

SB
v
SB
SB', N'1', CAST(0x0000A05F009AAEBD AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (91, 10008, 10009, N'SB

SB
SB
SB', N'1', CAST(0x0000A05F009AB07A AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (94, 10008, 10009, N'SB
SB', N'1', CAST(0x0000A05F009AB1AB AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (97, 10008, 10009, N'SB
SB
SBSB
SB
SB
SB
SB
', N'1', CAST(0x0000A05F009AB546 AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (237, 10010, 10014, N'zuobi 















', N'1', CAST(0x0000A05F00A55B13 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (241, 10010, 10014, N'cuobi
', N'1', CAST(0x0000A05F00A57CD2 AS DateTime))
GO
print 'Processed 300 total records'
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (385, 10006, 10035, N'	购物车
', N'1', CAST(0x0000A05F00D11718 AS DateTime))
GO
print 'Processed 400 total records'
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (417, 10032, 10012, N'你sb
', N'1', CAST(0x0000A05F00DD11F7 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (423, 10043, 10023, N'脸大不是病，腿粗要人命
', N'0', CAST(0x0000A05F00E314EE AS DateTime))
GO
print 'Processed 500 total records'
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (570, 10012, 10034, N'甜甜の、微笑? |  2012-05-29 11:34:16
	i弟换对象了

甜甜の、微笑? |  2012-05-29 11:34:23
	、不是开学的了啊？

', N'1', CAST(0x00009EF200BF5069 AS DateTime))
GO
print 'Processed 600 total records'
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (623, 10037, 10020, N'/// <summary>
       /// 将sql语句的参数进行赋值
      
           //判断链接状态，如果没有打开，则打开', N'1', CAST(0x0000A06000F2B99C AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (644, 10037, 10020, N'<appSettings>
    <add key="DataSource" value="."/>
    <add key="DataBase" value="MyQQ"/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="123"/>
  </appSettings>', N'1', CAST(0x0000A0600107CBB7 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (646, 10037, 10033, N' DataRow dr = ds.Tables[0].Rows[0];
              return Convert.ToInt32(dr[0]) > 0 ? true : false;', N'1', CAST(0x0000A0600109BFD0 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (647, 10020, 10025, N' <!--	<appSettings>
    <add key="DataSource" value="."/>
    <add key="DataBase" value="MyQQ"/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="123"/>
  </appSettings>', N'1', CAST(0x0000A060010E376A AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (649, 10037, 10033, N'<add key="DataSource" value="HW208-21\SQLEXPRESS"/>
    <add key="DataBase" value="MyQQ"/>
    <add key="Integrated Security" value="true"/>
  ', N'1', CAST(0x0000A06001124AEA AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (650, 10037, 10033, N' <!--<add key="UserID" value="sa"/>
    <add key="Password" value="123"/>-->', N'1', CAST(0x0000A0600112526C AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (651, 10020, 10037, N'if (conn.State != ConnectionState.Open) conn.Open();
           comm.Connection = conn;
           comm.CommandText = sql;', N'1', CAST(0x0000A0600112416E AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (653, 10037, 10020, N'new FormMain().Show();
                    this.Hide();', N'1', CAST(0x0000A06100AD6E92 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (659, 10030, 10020, N'//初始化星座
            for (int i = 0; i < _FormBase.comboBoxStar.Items.Count; i++)
            {
                comboBoxStar.Items.Add(_FormBase.comboBoxStar.Items[i]);
            }', N'1', CAST(0x0000A06100C395E6 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (660, 10030, 10020, N' //初始化血型
            for (int i = 0; i < _FormBase.comboBoxBlood.Items.Count; i++)
            {
                comboBoxBlood.Items.Add(_FormBase.comboBoxBlood.Items[i]);
            }', N'1', CAST(0x0000A06100C3A2EF AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (661, 10030, 10020, N' comboBoxStar.SelectedIndex = 0;
            comboBoxBlood.SelectedIndex = 0;', N'1', CAST(0x0000A06100C3ACC0 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (670, 10020, 10028, N'public string userReg(EntUser user)
       {
           user.CheckType = "0";
           user.RegTime = DateTime.Now;
           user.Face = 0;
           return _DALUser.userReg(user);
       }', N'1', CAST(0x0000A06101077C60 AS DateTime))
GO
print 'Processed 700 total records'
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (718, 10030, 10037, N' else//精确查找
                {
                    if (textBox1.Text != "" || textBox2.Text != "")
                    {
                        if (textBox1.Text != "")', N'1', CAST(0x0000A06300F8339D AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (719, 10030, 10037, N' {
                            userList = _BLLFriend.searchById(Convert.ToInt32(textBox1.Text), textBox2.Text);
                        }', N'1', CAST(0x0000A06300F84ED7 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (720, 10030, 10037, N'else
                        {
                            userList = _BLLFriend.searchById(0, textBox2.Text);
                        }', N'1', CAST(0x0000A06300F85C14 AS DateTime))
GO
print 'Processed 800 total records'
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (847, 10000, 10029, N'123
23', N'0', CAST(0x00009EF500FA695F AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (848, 10000, 10029, N'23
23', N'0', CAST(0x00009EF500FA6A1F AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (850, 10000, 10029, N'23
23', N'0', CAST(0x00009EF500FA6B38 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (854, 10000, 10029, N'23
23
123', N'0', CAST(0x00009EF500FA6E05 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (855, 10000, 10029, N'123
23
23', N'0', CAST(0x00009EF500FA6F3F AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (858, 10000, 10029, N'23
23
23', N'0', CAST(0x00009EF500FA70F8 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (860, 10000, 10029, N'123
123', N'0', CAST(0x00009EF500FA7282 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (862, 10000, 10029, N'23
123', N'0', CAST(0x00009EF500FA73C1 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (863, 10000, 10029, N'123
123', N'0', CAST(0x00009EF500FA74A6 AS DateTime))
GO
print 'Processed 900 total records'
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (925, 10450, 10039, N'\', N'1', CAST(0x00009EF500FC2737 AS DateTime))
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (1295, 10034, 10012, N'//窗体加载事件
        private void FormChat_Load(object sender, EventArgs e)
        {发给我', N'1', CAST(0x0000A06600BB65E8 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (1297, 10034, 10012, N'你的是这个    /// <returns></returns>
     public int update(EntChat chat)
     {
         return _DALChat.update(chat);
     }
    }', N'1', CAST(0x0000A06600BBBA23 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (1298, 10012, 10034, N'            //1.加载聊天对象的信息
            chatUser = _BLLUser.getUserById(chatUser);
            if (chatUser != null)', N'1', CAST(0x0000A06600BC63BA AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (1299, 10012, 10034, N'            {
                cpicFace.Image = _FormBase.imageListBig.Images[chatUser.Face];//头像
                clblNickName.Text = chatUser.NickName;//昵称', N'1', CAST(0x0000A06600BC7EB3 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (1301, 10012, 10034, N'  //2.启动接受聊天信息
                TimerReceive.Start();', N'1', CAST(0x0000A06600BC8FF3 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (1302, 10012, 10034, N'            }
            else
            {
                //TODO:提示有错误
            }', N'1', CAST(0x0000A06600BC97C4 AS DateTime))
INSERT [dbo].[qq_Messages] ([mid], [fromId], [toId], [mInfo], [state], [sendTime]) VALUES (1303, 10012, 10034, N'太长了', N'1', CAST(0x0000A06600BCA16F AS DateTime))
GO
print 'Processed 1300 total records'
SET IDENTITY_INSERT [dbo].[qq_Messages] OFF
/****** Object:  Table [dbo].[qq_Friends]    Script Date: 01/22/2018 09:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[qq_Friends](
	[fid] [int] IDENTITY(1,1) NOT NULL,
	[hostId] [int] NULL,
	[friendId] [int] NULL,
	[state] [char](1) NOT NULL,
 CONSTRAINT [PK_qq_Friends] PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 刚添加的 1同意的  2拒绝的' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'qq_Friends', @level2type=N'COLUMN',@level2name=N'state'
GO
SET IDENTITY_INSERT [dbo].[qq_Friends] ON
INSERT [dbo].[qq_Friends] ([fid], [hostId], [friendId], [state]) VALUES (19, 10001, 10000, N'1')
INSERT [dbo].[qq_Friends] ([fid], [hostId], [friendId], [state]) VALUES (20, 10005, 10003, N'1')
INSERT [dbo].[qq_Friends] ([fid], [hostId], [friendId], [state]) VALUES (23, 10008, 10001, N'1')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[qq_Friends] OFF
/****** Object:  Default [DF_qq_User_userType]    Script Date: 01/22/2018 09:35:22 ******/
ALTER TABLE [dbo].[qq_User] ADD  CONSTRAINT [DF_qq_User_userType]  DEFAULT ((0)) FOR [userType]
GO
/****** Object:  Default [DF_qq_User_studentID]    Script Date: 01/22/2018 09:35:22 ******/
ALTER TABLE [dbo].[qq_User] ADD  CONSTRAINT [DF_qq_User_studentID]  DEFAULT ('-') FOR [studentID]
GO
/****** Object:  Default [DF_qq_User_appid]    Script Date: 01/22/2018 09:35:22 ******/
ALTER TABLE [dbo].[qq_User] ADD  CONSTRAINT [DF_qq_User_appid]  DEFAULT ('-') FOR [appid]
GO
/****** Object:  ForeignKey [FK__qq_Messag__fromI__03317E3D]    Script Date: 01/22/2018 09:35:22 ******/
ALTER TABLE [dbo].[qq_Messages]  WITH CHECK ADD  CONSTRAINT [FK__qq_Messag__fromI__03317E3D] FOREIGN KEY([fromId])
REFERENCES [dbo].[qq_User] ([userId])
GO
ALTER TABLE [dbo].[qq_Messages] CHECK CONSTRAINT [FK__qq_Messag__fromI__03317E3D]
GO
/****** Object:  ForeignKey [FK__qq_Message__toId__0425A276]    Script Date: 01/22/2018 09:35:22 ******/
ALTER TABLE [dbo].[qq_Messages]  WITH CHECK ADD  CONSTRAINT [FK__qq_Message__toId__0425A276] FOREIGN KEY([toId])
REFERENCES [dbo].[qq_User] ([userId])
GO
ALTER TABLE [dbo].[qq_Messages] CHECK CONSTRAINT [FK__qq_Message__toId__0425A276]
GO
/****** Object:  ForeignKey [FK__qq_Friend__frien__00551192]    Script Date: 01/22/2018 09:35:22 ******/
ALTER TABLE [dbo].[qq_Friends]  WITH CHECK ADD  CONSTRAINT [FK__qq_Friend__frien__00551192] FOREIGN KEY([friendId])
REFERENCES [dbo].[qq_User] ([userId])
GO
ALTER TABLE [dbo].[qq_Friends] CHECK CONSTRAINT [FK__qq_Friend__frien__00551192]
GO
/****** Object:  ForeignKey [FK__qq_Friend__hostI__7F60ED59]    Script Date: 01/22/2018 09:35:22 ******/
ALTER TABLE [dbo].[qq_Friends]  WITH CHECK ADD  CONSTRAINT [FK__qq_Friend__hostI__7F60ED59] FOREIGN KEY([hostId])
REFERENCES [dbo].[qq_User] ([userId])
GO
ALTER TABLE [dbo].[qq_Friends] CHECK CONSTRAINT [FK__qq_Friend__hostI__7F60ED59]
GO
